[![Header](https://raw.githubusercontent.com/ItsCalebJones/ItsCalebJones/main/profile_header.png "Header")](https://spacelaunchnow.me/)
# Hello there.

My name is Caleb Jones and i'm a Software Engineer in Test with years of experience as QA Engineer. I'm from Atlanta, Georgia and i'm currently working at Magnet Forensics. I'm a Founder and Board Member of The Space Devs and I'm the Founder and Developer of Space Launch Now a popular mobile application for tracking spaceflight events!

<!-- Actual text -->

##### You can find me on [![LinkedIn][2.2]][2].

<!-- Icons -->

[2.2]: https://raw.githubusercontent.com/ItsCalebJones/ItsCalebJones/main/linkedin.png (LinkedIn icon without padding)

<!-- Links to your social media accounts -->

[2]: https://www.linkedin.com/in/cjonesmdm/

## 📈 GitHub Stats

<a href="https://github.com/ItsCalebJones">
  <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=ItsCalebJones&hide=html,css,scss,tex&title_color=ffffff&text_color=c9cacc&icon_color=2bbc8a&bg_color=1d1f21&langs_count=3" />
</a>
<a href="https://github.com/ItsCalebJones">
  <img align="center" src="https://github-readme-stats.vercel.app/api?username=ItsCalebJones&show_icons=true&line_height=27&count_private=true&title_color=ffffff&text_color=c9cacc&icon_color=2bbc8a&bg_color=1d1f21" alt="Calebs's GitHub Stats" />
</a>

<a href="https://github.com/ItsCalebJones/SpaceLaunchNow-Android">
  <img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username=ItsCalebJones&repo=SpaceLaunchNow-Android&title_color=ffffff&text_color=c9cacc&icon_color=2bbc8a&bg_color=1d1f21" />
</a>


<a href="https://github.com/ItsCalebJones/SpaceLaunchNow-Flutter">
  <img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username=ItsCalebJones&repo=SpaceLaunchNow-Flutter&title_color=ffffff&text_color=c9cacc&icon_color=2bbc8a&bg_color=1d1f21" />
</a>

<a href="https://github.com/ItsCalebJones/SpaceLaunchNow-Server">
  <img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username=ItsCalebJones&repo=SpaceLaunchNow-Server&title_color=ffffff&text_color=c9cacc&icon_color=2bbc8a&bg_color=1d1f21" />
</a>


<a href="https://github.com/ItsCalebJones/SpaceLaunchNow-UI">
  <img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username=ItsCalebJones&repo=SpaceLaunchNow-UI&title_color=ffffff&text_color=c9cacc&icon_color=2bbc8a&bg_color=1d1f21" />
</a>

## 🔧 Technologies & Tools
![](https://img.shields.io/badge/OS-Linux-informational?style=flat&logo=linux&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Editor-IntelliJ_IDEA-informational?style=flat&logo=intellij-idea&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Code-Python-informational?style=flat&logo=python&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Code-JavaScript-informational?style=flat&logo=javascript&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Code-Java-informational?style=flat&logo=java&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Code-Dart-informational?style=flat&logo=dart&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Shell-Bash-informational?style=flat&logo=gnu-bash&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Tools-PostgreSQL-informational?style=flat&logo=postgresql&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Tools-Docker-informational?style=flat&logo=docker&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Tools-Kubernetes-informational?style=flat&logo=kubernetes&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Cloud-Digital_Ocean-informational?style=flat&logo=digitalocean&logoColor=white&color=2bbc8a)
![](https://img.shields.io/badge/Cloud-Amazon_AWS-informational?style=flat&logo=amazonaws&logoColor=white&color=2bbc8a)


# Projects and Contributions

## Space Launch Now
This is my main side project, a spaceflight tracker for Android and iOS using data from The Space Devs - Launch Library API.
It was first launched in 2016 as the first quality spaceflight even tracking mobile app at a time where renewed public focus was being brought in thanks to the efforts of SpaceX.
The project is very mature now with a robust CI/CD pipeline, backend services for GCM, Twitter/Instagram bots and other various services all running on a Digital Ocean hosted kubernetes cluster.

Interested in checking it out? App store links available [here](https://spacelaunchnow.me)!

### Available on iOS, Android and the Web
[![Android](https://raw.githubusercontent.com/ItsCalebJones/ItsCalebJones/main/android_image.png "Header")](https://play.google.com/store/apps/details?id=me.calebjones.spacelaunchnow)
[![iOS](https://raw.githubusercontent.com/ItsCalebJones/ItsCalebJones/main/ios_image.jpg "Header")](https://apps.apple.com/us/app/space-launch-now/id1399715731?platform=iphone)

<hr>

## The Space Devs

The Space Devs is a group of space enthusiast developers working on a range of services, united in a common goal to improve public knowledge and accessibility of spaceflight information. We aim to bring space app developers together into a thriving community by providing helpful data and tools, accessible to everyone for free.

### Launch Library 2 🚀

#### Next Launch ⌛
The next space launch, retrieved from The Space Devs
<a href="https://thespacedevs.com/llapi">Launch Library 2 API</a>, is
**{{ next_launch.name }}**. It is scheduled to be launched by *{{ next_launch.launch_service_provider.name }}*
<img width="17" src="{{get_country_flag_svg(next_launch.launch_service_provider.country_code, country_reassign=False)}}" />
from *<a href="{{ next_launch.pad.wiki_url }}">{{ next_launch.pad.name }}</a>, {{ next_launch.pad.location.name }}*
<img width="17" src="{{get_country_flag_svg(next_launch.pad.location.country_code, country_reassign=False)}}" />
at {{ make_html_linked_time(next_launch.datetime) }}.  Until
then, this pad will have been used for {{ next_launch.pad.total_launch_count }}
out of {{ next_launch.pad.location.total_launch_count }} launches from this location. The launch status is currently
*{{ next_launch.status.abbrev }}* {{ status_emoji(next_launch.status.abbrev) }}. The mission type is
*{{ next_launch.mission.type }}* and the payload will be injected
into *{{ add_a_an(next_launch.mission.orbit.name) }}
({{ next_launch.mission.orbit.abbrev }})*.
<br>
<blockquote>
  {{ next_launch.mission.description }}
</blockquote>

<p float="left" align="center">
  <a href="{{ next_launch.rocket.configuration.wiki_url }}" >
    <img alt="launch-image" height="200" src="{{ next_launch.image }}" />
  </a>
  <a href="{{ next_launch.pad.map_url }}" >
    <img alt="pad-location" height="200" src="{{ next_launch.pad.location.map_image }}"  />
  </a>
</p>

#### Upcoming Launch Events
<p align="center">
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0pky">NET</th>
        <th class="tg-0pky">Status</th>
        <th class="tg-0pky">Details</th>
      </tr>
    </thead>
    <tbody>
{% for launch in parse_launches_within_a_month(launches) -%}
<tr>
    <td class="tg-0pky">[{{ make_html_linked_time(launch.datetime) }}]</td>
    <td class="tg-0pky">{{ status_emoji(launch.status.abbrev) }} <b>{{ launch.status.name }}</b></td>
    <td class="tg-0pky"><img width="17" src="{{get_country_flag_svg(launch.pad.location.country_code, country_reassign=True)}}"/> <b>{{ launch.name }}</b> from {{ launch.pad.location.name }}{% if launch.mission.orbit %} to {{ launch.mission.orbit.abbrev }}.{% else %}.{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table></p>

### Spaceflight News API 📰

#### Latest News ⌛
{% for article in latest_news -%}
- <a href="{{ article.url }}" >🔗</a> **[{{article.newsSite}}]** {{article.title}}
{% endfor %}

<hr>
  <div align="center">
  This <code>README.md</code> was last auto generated at {{ make_html_linked_time(timestamp) }}
  <br>
</div>
